{% trans_default_domain 'hello' %}
{% extends '../base.html.twig' %}

{% block title %}{{ 'title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title' | trans }}</h1>

    <p>{{ 'subtitle' | trans }}</p>

    <ul>
        <li>
            <p>
                <span>{{ "scripts.label" | trans }}</span>
                <button data-hello-btn="">Clicked 0 times</button>
            </p>
        </li>
        <li>
            <p>
                <span>{{ "styles.label" | trans }}</span>
                <span class="highlighted">{{ "styles.sentence" | trans }}</span>
            </p>
        </li>
        <li>
            <p>
                <span>{{ "trans.label" | trans }}</span>
                <span>{{ "trans.sentence" | trans }}</span>
            </p>
        </li>
        <li>
            <p>
                <span>{{ "auth.label" | trans }}</span>

                {% if app.user %}
                    <span>{{ 'auth.authed' | trans }} {{ app.user.email }}, </span>
                    <a href="/logout">{{ "auth.logout" | trans }}</a>
                {% else %}
                    <a href="/login">{{ "auth.login" | trans }}</a>
                    or
                    <a href="/register">{{ "auth.signup" | trans }}</a>
                {% endif %}
            </p>
        </li>
    </ul>

    <a href="/">Back to symfony home</a>
{% endblock %}
