{% trans_default_domain 'hello' %}
{% extends 'base.html.twig' %}

{% block head_description %}{{ 'head.description' | trans }}{% endblock %}
{% block title %}{{ 'title' | trans }} - Symfony Skeleton{% endblock %}

{% block body %}
    <div class="py-8 mt-8 text-center">
        <h1 class="text-4xl font-bold pb-2">
            <span>{{ 'title' | trans }}</span>
        </h1>

        <p>{{ 'subtitle' | trans }}</p>
    </div>

    <h2 class="mt-5 text-xl">Frontend</h2>

    

    <ul class="list">
        <li class="list-row items-center">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="scripts"/>
                <span>{{ "vue.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                <div class="my-4 ms-5" data-vue="hello"></div>
            </p>
        </li>
        <li class="list-row items-center">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="scripts"/>
                <span>{{ "scripts.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                <button class="btn btn-sm btn-accent" data-hello-btn="">
                    Never clicked
                </button>
            </p>
        </li>
        <li class="list-row">
            <p>
                <label class="label">
                    <input type="checkbox" class="checkbox" data-hello-check="styles"/>
                    <span>{{ "styles.label" | trans }}</span>
                </label>
            </p>
            <p class="list-col-grow text-end">
                {{ "styles.sentence" | trans }}
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="trans"/>
                <span>{{ "trans.label" | trans }}</span>
            </label>

            <p class="list-col-grow text-end">
                {{ "trans.sentence" | trans }}
            </p>
        </li>
    </ul>

    <h2 class="mt-5 text-xl">Backend</h2>

    <ul class="list">
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="fixtures"/>
                <span>{{ "fixtures.label" | trans }}</span>
            </label>
            <div class="list-col-grow text-end">
                <p>
                    {{ "fixtures.sentence" | trans }}
                </p>
                <p class="mt-2">
                    <code class="badge badge-soft badge-accent">admin@example.com</code>
                    <code class="badge badge-soft badge-accent">1234</code>
                </p>
            </div>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="auth"/>
                <span>{{ "auth.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                {% if app.user %}
                    <span> {{ app.user.email }} - </span>
                    <a class="link link-primary" href="{{ path('app_logout') }}">
                        {{ "auth.logout" | trans }}
                    </a>
                {% else %}
                    <a class="link link-primary" href="{{ path('app_login') }}">
                        {{ "auth.login" | trans }}
                    </a>
                    or
                    <a class="link link-primary" href="{{ path('app_register') }}">
                        {{ "auth.signup" | trans }}
                    </a>
                {% endif %}
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="admin"/>
                <span>{{ "admin.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                <a class="link link-primary" href="{{ path('admin') }}">
                    {{ "admin.link" | trans }}
                </a>
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="email"/>
                <span>{{ "email.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                <span class="me-1">1. </span>
                <a class="link link-primary" href="http://localhost:8025" target="_blank">
                    <span>{{ "email.view" | trans }}</span>
                </a>

                <span class="ms-3 me-1">2. </span>
                <a class="link link-primary" href="{{ path('app_mail') }}"><span
                    >{{ "email.send" | trans }}</span
                    ></a>
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="security"/>
                <span>{{ "security.label" | trans }}</span>
            </label>
            <p class="list-col-grow text-end">
                {{ "security.sentence" | trans }}
            </p>
        </li>
    </ul>

    <h2 class="mt-5 text-xl">Development</h2>

    <p class="my-2 mx-5 italic text-sm opacity-50">
        If you do not have makefile installed, you can replace "make" by the command inside
        the file
    </p>

    <ul class="list">
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="cli-node"/>
                <span>{{ "cli.node" | trans }}</span>
            </label>

            <p class="list-col-grow text-end">
                <code class="badge badge-soft badge-accent">
                    make node
                </code>
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="cli-php"/>
                <span>{{ "cli.php" | trans }}</span>
            </label>

            <p class="list-col-grow text-end">
                <code class="badge badge-soft badge-accent">
                    make php
                </code>
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="cli-pnpm"/>
                <span>{{ "cli.pnpm" | trans }}</span>
            </label>

            <p class="list-col-grow text-end">
                <code class="badge badge-soft badge-accent">
                    make pnpm i
                </code>
            </p>
        </li>
        <li class="list-row">
            <label class="label">
                <input type="checkbox" class="checkbox" data-hello-check="cli-vite"/>
                <span>{{ "cli.vite" | trans }}</span>
            </label>

            <p class="list-col-grow text-end">
                <code class="badge badge-soft badge-accent">
                    make pnpm dev
                </code>
            </p>
        </li>
    </ul>

    <div class="my-16 text-center">
        <p data-hello-verify-done="false">
            <span class="badge" data-hello-verify-count></span>
            <span>{{ "verify.remaining" | trans }}</span>
        </p>

        <p data-hello-verify-done="true">
            <span class="badge badge-soft badge-success">
                {{ "verify.done" | trans }}
            </span>
        </p>
    </div>
{% endblock %}
