<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-title" content="Symfony Skeleton" />

        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        {% block head_description %}
            <meta name="description" content="" />
        {% endblock %}

        <link rel="manifest" href="{{ asset('/site.webmanifest?v=2') }}" />
        <link rel="shortcut icon" href="{{ asset('/favicon.ico?v=2') }}" />
        <link rel="icon" type="image/png" href="{{ asset('icons/favicon-96x96.png?v=2') }}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{{ asset('icons/favicon.svg?v=2') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-touch-icon.png?v=2') }}" />

        {% block head_canonical %}
            <link rel="canonical" href="{{ app.request.uri }}" />
        {% endblock %}

        {# Open Graph #}
        {% block head_og_title %}
            <meta property="og:title" content="{{ block('title') }}" />
        {% endblock %}
        {% block head_og_description %}
            <meta property="og:description" content="{{ block('head_description') }}" />
        {% endblock %}
        {% block head_og_url %}
            <meta property="og:url" content="{{ app.request.uri }}" />
        {% endblock %}
        {% block head_og_type %}
            <meta property="og:type" content="website" />
        {% endblock %}

        {# Twitter Card #}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ block('head_og_title') }}" />
        <meta name="twitter:description" content="{{ block('head_og_description') }}" />

        {% block head_extra %}

        {% endblock %}

        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main class="sm:w-lg sm:m-auto px-6">
            {% block body %}

            {% endblock %}
        </main>
    </body>
</html>
